<div class="container">
    <div class="bg-dark mt-4 redondito p-4">
        <h1 class="display-4">Bienvenide humane <i class="fas fa-smile-wink fa-sm"></i></h1>
        <p class="lead">Estoy justo detrás de ti, no te gires, sigue mirando mi web.</p>

        <div class="row justify-content-between">

            <div class="col-lg-4 col-sm-12 mt-4">
                <a class="btn btn-primary btn-lg mr-3 redondete" href="index.php?r=register" role="button">Regístrate</a>
                <a class="btn btn-primary btn-lg redondete" href="index.php?r=login" role="button">Inicia sesión</a>
            </div>

            <div class="col-lg-3 col-sm-12 mt-4">
                <a class="btn btn-dark btn-lg mr-3 redondete float-right bg-black" href="index.php?r=fake" role="button">
                    No pinches aquí <i class="far fa-angry ml-1"></i>
                </a>
            </div>
        </div>

    </div>
</div>