.bg-success {
    background-color: rgb(53, 212, 122) !important;
}

.bg-primary {
    background-color: #08E9FD !important;
}

.bg-secondary {
    background-color: #808481 !important;
}

.bg-danger {
    background-color: #d90429 !important;
}

.bg-warning {
    background-color: #F3E30C !important;
}

.bg-info {
    background-color: #1845EA !important;
}

.bg-grey {
    background-color: #ACB8C6 !important;
}

.bg-black {
    background-color: rgb(20, 20, 20) !important;
}

.redondito {
    border-radius: 25px;
}

.redondito-derecha {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.redondete {
    border-radius: 15px;
}

.redondo {
    border-radius: 5px;
}

.borde-blanco {
    border-color: white;
}

.imagen-ajustada {
    max-width: 200px;
    max-height: 350px;
}

.imagen-panel {
    max-width: 350px;
    max-height: 350px;
}

a:link {
    text-decoration: none;
    color: #000;
}

a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    color: #000;
}